* {
	font-family: "Roboto", sans-serif;
}
.loginbox
{
  
  	-webkit-border-radius: 10px 10px 10px 10px;
  	border-radius: 10px 10px 10px 10px;
  	background: #fff;
	margin: 13vh auto;
	width:40vw;
	height:50vh;
  	padding: 20px;
  	-webkit-box-shadow: 5px 25px 60px 5px rgba(0,0,0,0.4);
  	box-shadow: 5px 25px 60px 5px rgba(0,0,0,0.4);
	position:relative;
	

	
}

#login-lozinka, #login-mail {
	margin-top:5vh;
	text-indent:4px;
}

#login-btn
{


	letter-spacing:.1rem;
	margin-left:16vw;
	margin-top:8vh;
	text-align:center;
	
}


.login-title
{
	text-align:center;
	font-weight:300;
	color:rgb(37, 37, 37);
	letter-spacing:.01rem;
	
}







